/* 'sm': '640px', */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  /* Navbar */

  .navbar {
    padding: 1rem 2rem;
    /* margin: auto; */
  }

  /* End Navbar */

  /* Navbar Item */

  /* Navbar Hamburger Button */
  .navbar__nav__hamburger-button {
    display: none;
  }

  .navbar__nav__hamburger-button[data-state="closed"][data-target=".navbar__nav-list"]
    ~ .navbar__nav-list,
  .navbar__nav__hamburger-button[data-state="open"][data-target=".navbar__nav-list"]
    ~ .navbar__nav-list {
    display: flex;
  }

  /* End Navbar Hamburger Button */

  .navbar__nav-list {
    background-color: transparent;
    position: static;
    flex-direction: row;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .navbar__nav-list__item {
    padding: 0;
    font-size: var(--text-base);
    border-bottom: none;
  }

  /* Navbar Dropdown */

  .navbar__nav-list__item__dropdown__menu {
    position: absolute;
    display: none;
    border-radius: var(--rounded-md);
    background-color: rgba(16, 70, 30, 0.7);
    border: 1px solid var(--green-gp-700);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem 1.5em;
    top: 100%;
  }

  .navbar__nav-list__item__dropdown__menu-item {
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    opacity: 0.8;
  }

  /* End Navbar Dropdown */
}

/* 'md': '768px', */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Hero */
  .hero__picture-container__title-container {
    left: 8%;
  }

  .hero__picture-container__title-container__title {
    font-size: var(--text-4xl);
  }
  /* End Hero */

  /* Homepage About Section */

  .homepage-about-section {
    padding: 5rem 2rem;
  }

  /* End Homepage About Section */
}

/* 'lg': '1024px', */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  /* Hero */
  .hero__picture-container__title-container {
    top: 45%;
  }

  .hero__picture-container__title-container__title {
    font-size: var(--text-5xl);
  }
  /* End Hero */

  /* Homepage About Section */

  .homepage-about-section__left__contents__link {
    padding: 1rem 2rem;
    font-size: var(--text-lg);
  }

  .homepage-about-section__left__picture-container {
    height: 2rem;
  }

  .homepage-about-section__left__contents__title-container > h2 {
    font-size: var(--text-4xl);
  }

  .homepage-about-section__left__contents__paragraphs > p:nth-child(1) {
    font-size: var(--text-xl);
  }

  .homepage-about-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
    padding: 6rem 2rem;
    margin: auto;
    gap: 4rem;
    align-items: center;
  }

  .homepage-about-section__picture-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 402px;
  }

  .homepage-about-section__picture-item:nth-child(2) {
    left: -1rem;
    bottom: -1rem;
  }

  /* End About Section */
}

/* 'xl': '1280px', */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  /* End About Section */

  .homepage-about-section__left__contents__title-container > h2 {
    font-size: var(--text-5xl);
  }

  .homepage-about-section__left__contents__paragraphs {
    font-size: var(--text-lg);
  }

  .homepage-about-section {
    gap: 5rem;
  }

  .homepage-about-section__picture-item:nth-child(2) {
    left: -2rem;
    bottom: -2rem;
  }

  /* End About Section */
}

/* '2xl': '1536px', */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  /* Hero */
  .hero__picture-container__title-container {
    top: 40%;
  }

  .hero__picture-container__title-container__title {
    font-size: var(--text-6xl);
  }
  /* End Hero */
}
